* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  position: relative;
  min-height: 100%; }

a {
  color: inherit; }

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  max-width: 1210px; }

.wrapper_test {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  width: 300px; }
  @media (min-width: 620px) {
    .wrapper_test {
      width: 600px; } }
  @media (min-width: 920px) {
    .wrapper_test {
      width: 900px; } }

@media (min-width: 620px) {
  .col-tablet-1-2 {
    width: 50%;
    float: left; } }

@media (min-width: 920px) {
  .col-tablet-1-2 {
    width: 33.33%;
    float: left; } }

.row {
  margin: 0 -15px; }
  .row:after {
    content: '';
    display: block;
    clear: both; }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

@media (min-width: 461px) {
  .col-phablet-1-2 {
    width: 50%;
    float: left; } }

@media (min-width: 768px) {
  .col-tablet-1-3 {
    width: 33.33%;
    float: left; } }

@media (min-width: 1200px) {
  .col-laptop-1-4 {
    width: 25%;
    float: left; } }

@media (min-width: 992px) {
  .col-desktop-1-4 {
    width: 25%;
    float: left;
    padding-right: 15px; } }

@media (min-width: 992px) {
  .col-desktop-3-4 {
    width: 75%;
    float: right;
    padding-left: 15px; } }

ul.main-menu {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  position: fixed;
  top: 13px;
  left: -100%;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease; }
  ul.main-menu li {
    font-size: 0px;
    list-style: none;
    background-color: #e5e5e5;
    border-right: 1px solid #c6c6c6;
    height: 62px;
    text-align: center; }
    ul.main-menu li:first-child {
      background-color: #f1f1f1; }
      ul.main-menu li:first-child a {
        color: #740411; }
    ul.main-menu li:last-child {
      border-right: none; }
    ul.main-menu li a {
      display: block;
      line-height: 62px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      color: #151515;
      padding: 0 25px;
      position: relative;
      z-index: 1; }
      ul.main-menu li a:hover span {
        background-color: #fff;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        width: 33.33%;
        height: 50%;
        left: 0;
        top: 0;
        z-index: -1; }
        ul.main-menu li a:hover span:nth-child(1) {
          -webkit-transition-delay: .5s;
          -o-transition-delay: .5s;
          transition-delay: .5s; }
        ul.main-menu li a:hover span:nth-child(2) {
          left: 33.33%;
          -webkit-transition-delay: 0.4s;
          -o-transition-delay: 0.4s;
          transition-delay: 0.4s; }
        ul.main-menu li a:hover span:nth-child(3) {
          left: 66.6%;
          -webkit-transition-delay: 0.3s;
          -o-transition-delay: 0.3s;
          transition-delay: 0.3s; }
        ul.main-menu li a:hover span:nth-child(4) {
          top: 50%;
          left: 0; }
        ul.main-menu li a:hover span:nth-child(5) {
          top: 50%;
          left: 33.33%;
          -webkit-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }
        ul.main-menu li a:hover span:nth-child(6) {
          top: 50%;
          left: 66.6%;
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }
      ul.main-menu li a span {
        position: absolute;
        display: block;
        float: left;
        width: 0;
        height: 0;
        top: 25%;
        left: 16.7%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        z-index: -1; }
        ul.main-menu li a span:first-child {
          -webkit-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }
        ul.main-menu li a span:nth-child(2) {
          left: 50%;
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        ul.main-menu li a span:nth-child(3) {
          left: 88.33%;
          -webkit-transition-delay: 0.3s;
          -o-transition-delay: 0.3s;
          transition-delay: 0.3s; }
        ul.main-menu li a span:nth-child(4) {
          top: 75%;
          left: 16.7%; }
        ul.main-menu li a span:nth-child(5) {
          top: 75%;
          left: 50%;
          -webkit-transition-delay: 0.5s;
          -o-transition-delay: 0.5s;
          transition-delay: 0.5s; }
        ul.main-menu li a span:nth-child(6) {
          top: 75%;
          left: 88.33%;
          -webkit-transition-delay: 0.4s;
          -o-transition-delay: 0.4s;
          transition-delay: 0.4s; }

.main__title {
  padding: 0 22px;
  margin-top: 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  background-color: #740311;
  height: 55px;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left; }

.sidebar-menu__opener {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  cursor: pointer; }
  .sidebar-menu__opener:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: inset 1px 1px 0 0 #8c8c8c;
    box-shadow: inset 1px 1px 0 0 #8c8c8c;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    right: 22px;
    top: 24px;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all; }
  .sidebar-menu__opener.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.sidebar-menu li {
  list-style: none;
  position: relative; }
  .sidebar-menu li ul {
    padding-left: 20px;
    opacity: 0;
    max-height: 0;
    -webkit-transition: opacity 1s, max-height .4s ease-out;
    -o-transition: opacity 1s, max-height .4s ease-out;
    transition: opacity 1s, max-height .4s ease-out; }
    .sidebar-menu li ul.active {
      opacity: 1;
      max-height: 500px;
      -webkit-transition: opacity 1s, max-height 1s ease-in;
      -o-transition: opacity 1s, max-height 1s ease-in;
      transition: opacity 1s, max-height 1s ease-in; }

.sidebar-menu > li > a {
  display: block;
  text-decoration: none;
  color: #8c8c8c;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px;
  padding-right: 45px;
  background: #f8f8f8;
  position: relative; }
  .sidebar-menu > li > a:before {
    content: '';
    position: absolute;
    width: 0;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); }
  .sidebar-menu > li > a:hover:before {
    width: 100%; }

.sidebar-menu > li:nth-child(2n) > a {
  background: #f4f3f3; }

.news {
  padding-bottom: 27px; }
  .news__data {
    padding-top: 27px;
    color: #8c8c8c;
    font-size: 18px; }
    .news__data span {
      color: #740311;
      font-size: 18px; }
  .news__text {
    font-size: 14px;
    color: #434343;
    padding-bottom: 27px;
    border-bottom: 1px solid #740311; }
    .news__text a {
      text-decoration: none; }
  .news svg {
    width: 14px;
    fill: #434343;
    left: 5px;
    position: relative;
    top: 4px; }

.article__title {
  text-transform: uppercase;
  padding: 0 22px;
  color: #fff;
  font-size: 14px;
  background-color: #f64801;
  min-height: 52px;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.article__image {
  overflow: hidden;
  max-height: 219px; }

.articles {
  line-height: 0; }
  .articles a {
    text-decoration: none;
    margin: 30px 15px 0 15px;
    display: block;
    overflow: hidden; }
    .articles a:hover img {
      -webkit-filter: none;
      filter: none;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
    .articles a img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      height: 219px;
      width: 100%;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .articles .row [class^="col-"]:nth-child(3n+2) .article__title {
    background-color: #ff9d0f; }
  .articles .row [class^="col-"]:nth-child(3n+3) .article__title {
    background-color: #ffc034; }

.offer__title {
  text-transform: uppercase;
  padding: 0 22px;
  color: #fff;
  font-size: 14px;
  background-color: #000;
  opacity: 0.55;
  border-top: 1px solid #9e9e9e;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 52px;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

@media (min-width: 992px) {
  .catalog .main__title {
    margin-left: 50px; } }

.offers a {
  margin: 30px 15px 0 15px;
  position: relative;
  text-decoration: none;
  display: block;
  overflow: hidden; }
  .offers a:hover img {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.offers .img-bg {
  height: 280px;
  background-color: #e2e2e2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  .offers .img-bg img {
    max-width: 100%;
    max-height: 100%; }

.header {
  position: relative;
  background: url("../img/header-bg.jpg") repeat-x center center;
  min-height: 165px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1; }
  .header img {
    padding: 25px 10px 	0; }
  .header__phone {
    float: right;
    display: block;
    margin-top: 55px; }
    @media screen and (max-width: 846px) {
      .header__phone {
        margin-top: 10px;
        position: absolute;
        top: 15px;
        right: 0; } }
    .header__phone svg {
      width: 25px;
      height: 25px;
      fill: #fff;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-right: 15px; }
    .header__phone a {
      text-decoration: none;
      font-size: 18px; }
      .header__phone a span {
        font-size: 30px;
        padding-left: 5px;
        padding-right: 15px; }

.slide {
  line-height: 0;
  padding-top: 30px; }
  .slide img {
    width: 100%;
    height: 100%; }

.menu_opener {
  line-height: 0;
  position: fixed;
  top: 110px;
  right: 20px;
  border: 4px solid #fff;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  z-index: 6; }
  .menu_opener .icon-list {
    background: #da251d;
    height: 40px;
    width: 40px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 8px 0 15px;
    cursor: pointer;
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease; }
    .menu_opener .icon-list span {
      width: 100%;
      height: 5px;
      background: #fff;
      display: block;
      margin: 2px 0;
      position: relative;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: .7s all ease;
      -o-transition: .7s all ease;
      transition: .7s all ease; }
      .menu_opener .icon-list span:before {
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        height: 5px;
        width: 5px;
        background-color: #fff;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-transition: .7s all ease;
        -o-transition: .7s all ease;
        transition: .7s all ease; }

.icon-list_opened {
  padding-left: 8px; }
  .icon-list_opened span:before {
    display: none; }
  .icon-list_opened span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
    -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
    transform: rotate(45deg) translateX(6px) translateY(6px);
    width: 25px;
    left: -3px; }
  .icon-list_opened span:nth-child(2) {
    opacity: 0; }
  .icon-list_opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateX(6px) translateY(-6px);
    -ms-transform: rotate(-45deg) translateX(6px) translateY(-6px);
    transform: rotate(-45deg) translateX(6px) translateY(-6px);
    width: 25px;
    left: -3px; }

ul.main-menu.active {
  display: block;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
  overflow-y: scroll;
  background-color: #fff; }

@media (min-width: 768px) {
  .menu_opener {
    display: none; }
  ul.main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    left: 0;
    position: relative;
    font-size: 0;
    padding-bottom: 0; }
    ul.main-menu li {
      width: 12%; }
      ul.main-menu li:nth-child(4) {
        width: 15%; }
      ul.main-menu li:nth-child(7) {
        width: 13%; }
      ul.main-menu li:last-child {
        width: 70px; }
        ul.main-menu li:last-child .form__search input {
          width: 70px;
          height: 62px;
          -webkit-transition: width 0.4s ease-out;
          -o-transition: width 0.4s ease-out;
          transition: width 0.4s ease-out;
          opacity: .1;
          z-index: 2;
          background-color: #e5e5e5;
          font-size: 22px;
          text-align: center; }
          ul.main-menu li:last-child .form__search input:focus {
            opacity: 1;
            width: 100%;
            position: absolute;
            right: 0;
            z-index: 1;
            -webkit-transition: width 0.4s ease-in;
            -o-transition: width 0.4s ease-in;
            transition: width 0.4s ease-in; }
        ul.main-menu li:last-child .search-button {
          cursor: pointer;
          width: 70px;
          height: 62px;
          position: absolute;
          right: 0;
          top: 0;
          border: none;
          z-index: 2;
          background-color: #c6c6c6; }
          ul.main-menu li:last-child .search-button:before {
            content: '';
            position: absolute;
            left: 15px;
            right: 0;
            top: 15px;
            width: 20px;
            height: 20px;
            border: 5px solid #fff;
            -webkit-border-radius: 50%;
            border-radius: 50%; }
          ul.main-menu li:last-child .search-button:after {
            content: '';
            position: absolute;
            height: 15px;
            width: 0;
            left: 40px;
            right: 0;
            top: 36px;
            border-right: 5px solid #fff;
            -webkit-border-radius: 40%;
            border-radius: 40%;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
      ul.main-menu li a {
        padding: 0;
        font-size: 12px; } }
      @media (min-width: 768px) and (min-width: 992px) {
        ul.main-menu li a {
          font-size: 16px; } }
      @media (min-width: 768px) and (min-width: 1200px) {
        ul.main-menu li a {
          font-size: 18px; } }

.product {
  display: block;
  height: 270px;
  position: relative;
  text-decoration: none; }
  .product__image {
    height: 215px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden; }
    .product__image img {
      max-height: 100%;
      max-width: 100%;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  .product:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .product__title {
    background-color: #f64801; }
  .product__title_orange {
    background-color: #ff9d0f; }
  .product__title_yellow {
    background-color: #ffc034; }

.footer {
  position: relative;
  left: 0;
  right: 0;
  background-color: #740311;
  min-height: 110px;
  margin-top: 30px;
  overflow: hidden; }
  .footer .banners {
    display: inline-block;
    padding-top: 25px;
    float: left; }
  .footer ul.footer-menu {
    float: right;
    padding-top: 45px;
    height: 110px;
    display: inline-block; }
    .footer ul.footer-menu li {
      display: block;
      float: left;
      list-style: none;
      padding-left: 10px; }
      .footer ul.footer-menu li a {
        text-decoration: none;
        color: #af5b5b;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        padding: 5px 10px; }
